<h1>New addition</h1>

<form action="/wizard_add">
  <label for="add_first">
    Add this:
  </label>
  <input id="add_first" name="first_num">
  <label for="add_second">
    to this:
  </label>
  <input id="add_second" name="second_num">

  <button>
    Add!
  </button>
</form>
